<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <ul>
            <f:groupedFor each="{files}" as="groupedFiles" groupBy="controllerAction" groupKey="controllerAction">
                <li>
                    {controllerAction}
                    <ul>
                        <f:for each="{groupedFiles}" as="file">
                            <li>
                                <a href="{file.output.outputFileName}">{file.controller} / {file.action} / {file.input.dataFileName}</a>
                            </li>
                        </f:for>
                    </ul>
                </li>
            </f:groupedFor>
        </ul>
    </body>
</html>