<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="d-none template">
                <h2></h2>
                <div class="card-columns">
                    <f:for each="{settings.devices}" as="device" key="selector">
                        <div class="card">
                            <div class="card-header">{device.name}</div>
                            <div class="iframe-zoomed-wrap device-{selector}">
                                <iframe src=""></iframe>
                            </div>
                        </div>
                    </f:for>
                </div>
            </div>

            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#previewModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) // Button that triggered the modal
        let uri = button.data('uri');
        let modal = $(this)
        let template = modal.find('.template')

        //modal.find('.modal-title').text(uri);
        console.log(modal.find('.modal-body'));
        modal.find('.modal-body').find('*').remove();

        $.each(
            button.data('uris'),
            function( key, value ) {
                let clon = template.clone();
                clon.find('h2').text(value.input.dataFileName)
                clon.removeClass('d-none');
                clon.find('iframe').attr('src', value.output.outputFileName);
                modal.find('.modal-body').append(clon);
            }
        );
    });
</script>