<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{settings.layout.brand.link}">
        <f:if condition="{settings.layout.logo.file}">
            <img src="{settings.layout.logo.file}" alt="{settings.layout.brand.name}" title="{settings.layout.brand.name}" class="d-inline-block align-top" height="30" width="30">
        </f:if>
        {settings.layout.brand.name}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <f:if condition="{templates}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-templates" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Templates
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <f:groupedFor each="{templates}" as="groupedByController" groupBy="controller" groupKey="controller">
                            <a class="dropdown-item" href="#controller-{controller}">{controller}</a>
                        </f:groupedFor>
                    </div>
                </li>
            </f:if>
            <f:if condition="{partials}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-partials" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Partials
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <f:groupedFor each="{partials}" as="groupedByController" groupBy="controller" groupKey="controller">
                            <a class="dropdown-item" href="#partial-{controller}">{controller}</a>
                        </f:groupedFor>
                    </div>
                </li>
            </f:if>
            <f:if condition="{settings.additionalLinks}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-externalResources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        External Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <f:for each="{settings.additionalLinks}" as="link">
                            <a class="dropdown-item" href="{link.uri}">{link.name}</a>
                        </f:for>
                    </div>
                </li>
            </f:if>
        </ul>
        <p class="navbar-text navbar-right">
            <small>{now}</small>
        </p>
    </div>
</nav>